<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:mvc="http://www.springframework.org/schema/mvc" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context" 
xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- 配置springmvc -->
    <!-- 1:开启springmvc的注解模式 -->
    <!-- 简化配置：
    	（1）自动注册
    	（2）提供一系列的：数据绑定、数字和日期的format @NumberFormat @DataTimeFormat
    		xml,json默认读写支持
     -->
    <mvc:annotation-driven/>
    <!-- 2:servlet-mapping 映射路径：／ -->
    <!-- 静态资源默认servlet配置 
    	1:加入对静态资源的处理
    	2:允许使用"/"做整体映射
    -->
    <mvc:default-servlet-handler/>
    
    <!-- 3:配置jsp的显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
    	<property name="prefix" value="/WEB-INF/pages/"/>
    	<property name="suffix" value=".jsp"/>
    </bean>
    
<!--     配置拦截器
    <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/user/*"/>
    		<bean class="com.person.web.interceptor.CheckSessionInterceptor"/>
    	</mvc:interceptor>
    	
    	<mvc:interceptor>
    		<mvc:mapping path="/"/>
    		<bean class="com.person.web.interceptor.EncodingInterceptor"/>
    	</mvc:interceptor>
    	
    </mvc:interceptors> -->
<!--     <bean id="handlerMapping" 
    	class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
    	<property name="interceptors">
    		<list>
    			<ref bean="checkSessionInterceptor"/>
    		</list>
    	</property>
    </bean>
    检查session是否登录
    <bean id="checkSessionInterceptor"
    	class="com.person.web.interceptor.CheckSessionInterceptor"/> -->
    
    <!-- 4:扫描web相关的Bean -->
	<context:component-scan base-package="com.music.controller"/>    
</beans>